body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    color: black;
  }
  
  h1 {
    font-style: italic;
    color: black;
    text-align: center;
  }
  
  video {
    display: block;
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    width: 650px;
    margin:auto;
  }

  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(75, 62, 146, 0.5);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }
  
  .highlighter {
    background-color: rgba(204, 197, 241, 0.5);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
  }

  #affichage{
    text-align:center;
    font-size: 150%;
    font-weight: bold;
  }


  button {
    /* background-color: blue; */
    background-color: rgba(28, 13, 102, 0.72);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
  }